body{
  background-color: #8a8588;
}
h1{
  text-align:center;
  margin-top:20px;
}
.resources{
  border: red 2px solid;
  width:200px;
  float:right;
}
.res{
  text-align:right;
  float:right;
  padding-right:5px;
  display:inline-block;
}
.reslab{
  text-align:left;
  padding-left:5px;
  display:inline-block;
}
