body{
  background-color: #8a8588;
}
h1{
  text-align:center;
  margin-top:20px;
}
.resources{
  border: red 2px solid;
  width:200px;
  float:right;
}
.res1{
  text-align:right;
  padding-right:5px;
}
